@import "variables";

@each $name, $value in $degres {
  .rotate\:#{$name} {
    display: inline-block;
    transition: all 0.3s ease;
    transform: rotate(#{$value}deg);
  }

  .hover\:rotate\:#{$name}:hover {
    display: inline-block;
    transition: all 0.3s ease;
    transform: rotate(#{$value}deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  display: inline-block;
  animation: rotating 2s linear infinite;
}

.hover\:rotating:hover {
  display: inline-block;
  animation: rotating 2s linear infinite;
}
