@import "variables";

@each $name, $value in $colors {
  .bg\:#{$name} {
    background-color: $value;
  }
  .hover\:bg\:#{$name}:hover {
    background-color: $value;
  }
  .focus\:bg\:#{$name}:focus {
    background-color: $value;
  }
}
