@import "variables";

@each $name, $value in $colors {
  .border\:#{$name} {
    border-color: $value;
  }
}

*,
:after,
:before {
  border: 0 solid map-get($colors, "grey-darker");
}

@each $name, $value in $border-styles {
  .border\:#{$name} {
    border-style: $value;
  }
}

.border {
  border-width: 1px;
}

.border\:t {
  border-top-width: 1px;
}

.border\:r {
  border-right-width: 1px;
}

.border\:b {
  border-bottom-width: 1px;
}

.border\:l {
  border-left-width: 1px;
}

@each $name, $value in $border-widths {
  .border\:#{$name} {
    border-width: $value;
  }
  .border\:t\:#{$name} {
    border-top-width: $value;
  }
  .border\:r\:#{$name} {
    border-right-width: $value;
  }
  .border\:b\:#{$name} {
    border-bottom-width: $value;
  }
  .border\:l\:#{$name} {
    border-left-width: $value;
  }
}
