@import "variables";

@each $name, $value in $colors {
  .text\:#{$name} {
    color: $value;
  }
}

@each $name, $value in $colors {
  .bg\:#{$name} {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:text\:#{$name}:hover {
    color: $value;
  }
}

@each $name, $value in $colors {
  .hover\:bg\:#{$name}:hover {
    background-color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:text\:#{$name}:focus {
    color: $value;
  }
}

@each $name, $value in $colors {
  .focus\:bg\:#{$name}:focus {
    background-color: $value;
  }
}
