$direction: (
  "row": row,
  "row-reverse": row-reverse,
  "col": column,
  "col-reverse": column-reverse
);

@each $name, $value in $direction {
  .flex\:#{$name} {
    flex-direction: $value;
  }
}

$wrapping: (
  "no-wrap": nowrap,
  "wrap": wrap,
  "wrap-reverse": wrap-reverse
);

@each $name, $value in $wrapping {
  .flex\:#{$name} {
    flex-wrap: $value;
  }
}

$items: (
  "stretch": stretch,
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "baseline": baseline
);

@each $name, $value in $items {
  .items\:#{$name} {
    align-items: $value;
  }
}

$content: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
  "around": space-around
);

@each $name, $value in $content {
  .content\:#{$name} {
    align-content: $value;
  }
}

$align: (
  "auto": auto,
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "stretch": stretch
);

@each $name, $value in $align {
  .self\:#{$name} {
    align-self: $value;
  }
}

$justify: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
  "around": space-around
);

@each $name, $value in $justify {
  .justify\:#{$name} {
    justify-content: $value;
  }
}

$flex: (
  "initial": initial,
  "1": 1,
  "auto": auto,
  "none": none,
  "full": 0 0 100%
);

@each $name, $value in $flex {
  .flex\:#{$name} {
    flex: $value;
  }
}
