@import "variables";

@each $name, $value in $opacities {
  .opacity\:#{$name} {
    opacity: $value;
  }
  .hover\:opacity\:#{$name}:hover {
    opacity: $value;
  }
  .focus\:opacity\:#{$name}:focus {
    opacity: $value;
  }
}
