@import "variables";

.rounded {
  border-radius: $border-radius;
}

.rounded\:t {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.rounded\:r {
  border-top-right-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.rounded\:b {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.rounded\:l {
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.rounded\:full {
  border-radius: 9999px;
}
