@import "variables";

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.hover\:shadow:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.focus\:shadow:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@each $name, $value in $shadows {
  .shadow\:#{$name} {
    box-shadow: #{$value};
  }
  .hover\:shadow\:#{$name}:hover {
    box-shadow: #{$value};
  }
  .focus\:shadow\:#{$name}:focus {
    box-shadow: #{$value};
  }
}
