@import "variables";

@each $name, $value in $overflows {
  .overflow\:#{$name} {
    overflow: $value;
  }
}

@each $name, $value in $overflows {
  .overflow-x\:#{$name} {
    overflow-x: $value;
  }
}

@each $name, $value in $overflows {
  .overflow-y\:#{$name} {
    overflow-y: $value;
  }
}
