@import "variables";

.rounded {
  border-radius: $border-radius-default;
}

.rounded\:t {
  border-top-left-radius: $border-radius-default;
  border-top-right-radius: $border-radius-default;
}

.rounded\:r {
  border-top-right-radius: $border-radius-default;
  border-bottom-right-radius: $border-radius-default;
}

.rounded\:b {
  border-bottom-left-radius: $border-radius-default;
  border-bottom-right-radius: $border-radius-default;
}

.rounded\:l {
  border-top-left-radius: $border-radius-default;
  border-bottom-left-radius: $border-radius-default;
}

.rounded\:full {
  border-radius: map-get($border-radius, "full");
}

@each $variantName, $variantValue in $variants {
  .#{$variantName}\:rounded:#{$variantValue} {
    border-radius: $border-radius-default;
  }

  .#{$variantName}\:rounded\:t:#{$variantValue} {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
  }

  .#{$variantName}\:rounded\:r:#{$variantValue} {
    border-top-right-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }

  .#{$variantName}\:rounded\:b:#{$variantValue} {
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }

  .#{$variantName}\:rounded\:l:#{$variantValue} {
    border-top-left-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
  }

  .#{$variantName}\:rounded\:full:#{$variantValue} {
    border-radius: map-get($border-radius, "full");
  }
}

@each $name, $value in $border-radius {
  .rounded\:#{$name} {
    border-radius: #{$value};
  }
  .rounded\:t\:#{$name} {
    border-top-left-radius: #{$value};
    border-top-right-radius: #{$value};
  }
  .rounded\:r\:#{$name} {
    border-top-right-radius: #{$value};
    border-bottom-right-radius: #{$value};
  }
  .rounded\:b\:#{$name} {
    border-bottom-left-radius: #{$value};
    border-bottom-right-radius: #{$value};
  }
  .rounded\:l\:#{$name} {
    border-top-left-radius: #{$value};
    border-bottom-left-radius: #{$value};
  }
}

@each $variantName, $variantValue in $variants {
  @each $name, $value in $border-radius {
    .#{$variantName}\:rounded\:#{$name}:#{$variantValue} {
      border-radius: #{$value};
    }
    .#{$variantName}\:rounded\:t\:#{$name}:#{$variantValue} {
      border-top-left-radius: #{$value};
      border-top-right-radius: #{$value};
    }
    .#{$variantName}\:rounded\:r\:#{$name}:#{$variantValue} {
      border-top-right-radius: #{$value};
      border-bottom-right-radius: #{$value};
    }
    .#{$variantName}\:rounded\:b\:#{$name}:#{$variantValue} {
      border-bottom-left-radius: #{$value};
      border-bottom-right-radius: #{$value};
    }
    .#{$variantName}\:rounded\:l\:#{$name}:#{$variantValue} {
      border-top-left-radius: #{$value};
      border-bottom-left-radius: #{$value};
    }
  }
}
