@import "variables";

@each $name, $value in $colors {
  .border\:#{$name} {
    border-color: $value;
  }
}

@each $variantName, $variantValue in $variants {
  @each $name, $value in $colors {
    .#{$variantName}\:border\:#{$name}:#{$variantValue} {
      border-color: $value;
    }
  }
}

@each $name, $value in $border-styles {
  .border\:#{$name} {
    border-style: $value;
  }
}

.border {
  border-width: $border-width-default;
}
.border\:t {
  border-top-width: $border-width-default;
}
.border\:r {
  border-right-width: $border-width-default;
}
.border\:b {
  border-bottom-width: $border-width-default;
}
.border\:l {
  border-left-width: $border-width-default;
}
.border\:x {
  border-left-width: $border-width-default;
  border-right-width: $border-width-default;
}
.border\:y {
  border-top-width: $border-width-default;
  border-bottom-width: $border-width-default;
}

@each $name, $value in $border-widths {
  .border\:#{$name} {
    border-width: $value;
  }
  .border\:t\:#{$name} {
    border-top-width: $value;
  }
  .border\:r\:#{$name} {
    border-right-width: $value;
  }
  .border\:b\:#{$name} {
    border-bottom-width: $value;
  }
  .border\:l\:#{$name} {
    border-left-width: $value;
  }
  .border\:x\:#{$name} {
    border-right-width: $value;
    border-left-width: $value;
  }
  .border\:y\:#{$name} {
    border-top-width: $value;
    border-bottom-width: $value;
  }
}
