@import "variables";

@each $name, $value in $flex-directions {
  .flex\:#{$name} {
    flex-direction: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $flex-directions {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex-direction: $value;
      }
    }
  }
}

@each $name, $value in $flex-wraps {
  .flex\:#{$name} {
    flex-wrap: $value;
  }
}

// ie : md:flex:wrap
@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $flex-wraps {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex-wrap: $value;
      }
    }
  }
}

@each $name, $value in $align-items {
  .items\:#{$name} {
    align-items: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $align-items {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:items\:#{$name} {
        align-items: $value;
      }
    }
  }
}

@each $name, $value in $align-contents {
  .content\:#{$name} {
    align-content: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $align-contents {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:content\:#{$name} {
        align-content: $value;
      }
    }
  }
}

@each $name, $value in $align-selfs {
  .self\:#{$name} {
    align-self: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $align-selfs {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:self\:#{$name} {
        align-self: $value;
      }
    }
  }
}

@each $name, $value in $justify-contents {
  .justify\:#{$name} {
    justify-content: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $justify-contents {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:justify\:#{$name} {
        justify-content: $value;
      }
    }
  }
}

@each $name, $value in $flexs {
  .flex\:#{$name} {
    flex: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $flexs {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex: $value;
      }
    }
  }
}

@each $name, $value in $orders {
  .order\:#{$name} {
    order: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $orders {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:order\:#{$name} {
        order: $value;
      }
    }
  }
}

@each $name, $value in $grows {
  .flex\:#{$name} {
    flex-grow: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $grows {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex-grow: $value;
      }
    }
  }
}

@each $name, $value in $shrinks {
  .flex\:#{$name} {
    flex-shrink: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $shrinks {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex-shrink: $value;
      }
    }
  }
}

// ie : flex:1/12
@each $name, $value in $twelve-columns {
  .flex\:#{$name} {
    flex-basis: $value;
  }
}

// ie : sm:flex:3/12
@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $twelve-columns {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:flex\:#{$name} {
        flex-basis: $value;
      }
    }
  }
}
