@import "variables";

@each $name, $value in $gaps {
  .gap\:#{$name} {
    gap: $value;
    @each $flexName, $flexValue in $twelve-columns {
      & > .flex\:#{$flexName} {
        flex-basis: calc(#{$flexValue} - #{$value});
      }
    }
  }
  .gap-x\:#{$name} {
    column-gap: $value;    
    @each $flexName, $flexValue in $twelve-columns {
      & > .flex\:#{$flexName} {
        flex-basis: calc(#{$flexValue} - #{$value});
      }
    }
  }
  .gap-y\:#{$name} {
    row-gap: $value;    
    @each $flexName, $flexValue in $twelve-columns {
      & > .flex\:#{$flexName} {
        flex-basis: calc(#{$flexValue} - #{$value});
      }
    }
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $gaps {
    .#{$bpName}\:gap\:#{$name} {
      @media (min-width: #{$bpValue}) {
        gap: $value;    
        @each $flexName, $flexValue in $twelve-columns {
          & > .flex\:#{$flexName} {
            flex-basis: calc(#{$flexValue} - #{$value});
          }
        }
      }
    }
    .#{$bpName}\:gap-x\:#{$name} {
      @media (min-width: #{$bpValue}) {
        column-gap: $value;    
        @each $flexName, $flexValue in $twelve-columns {
          & > .flex\:#{$flexName} {
            flex-basis: calc(#{$flexValue} - #{$value});
          }
        }
      }
    }
    .#{$bpName}\:gap-y\:#{$name} {
      @media (min-width: #{$bpValue}) {
        row-gap: $value;    
        @each $flexName, $flexValue in $twelve-columns {
          & > .flex\:#{$flexName} {
            flex-basis: calc(#{$flexValue} - #{$value});
          }
        }
      }
    }
  }
}