@import "variables";

// ie : min-h:0
@each $name, $value in $heights {
  .h\:#{$name} {
    height: $value;
  }
  .min-h\:#{$name} {
    min-height: $value;
  }
  .max-h\:#{$name} {
    max-height: $value;
  }
}

// ie : max-h:sm
@each $name, $value in $breakpoints {
  .h\:#{$name} {
    height: $value;
  }
  .min-h\:#{$name} {
    min-height: $value;
  }
  .max-h\:#{$name} {
    max-height: $value;
  }
}

// ie: h:2/12
@each $name, $value in $twelve-columns {
  .h\:#{$name} {
    height: $value;
  }
  .min-h\:#{$name} {
    min-height: $value;
  }
  .max-h\:#{$name} {
    max-height: $value;
  }
}
