@import "variables";

@each $name, $value in $paddings {
  .p\:#{$name} {
    padding: $value;
  }
  .pt\:#{$name} {
    padding-top: $value;
  }
  .pr\:#{$name} {
    padding-right: $value;
  }
  .pb\:#{$name} {
    padding-bottom: $value;
  }
  .pl\:#{$name} {
    padding-left: $value;
  }
  .px\:#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .py\:#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
}
