@import "variables";

@each $name, $value in $positions {
  .#{$name} {
    position: $value;
  }
}

@each $name, $value in $position-sizes {
  .t\:#{$name} {
    top: $value;
  }
  .r\:#{$name} {
    right: $value;
  }
  .b\:#{$name} {
    bottom: $value;
  }
  .l\:#{$name} {
    left: $value;
  }
  .x\:#{$name} {
    right: $value;
    left: $value;
  }
  .y\:#{$name} {
    top: $value;
    bottom: $value;
  }
}

@each $bpName, $bpValue in $breakpoints {
  @each $name, $value in $positions {
    @media (min-width: #{$bpValue}) {
      .#{$bpName}\:#{$name} {
        position: $value;
      }
    }
  }

  @each $name, $value in $position-sizes {
    .#{$bpName}\:t\:#{$name} {
      @media (min-width: #{$bpValue}) {
        top: $value;
      }
    }
    .#{$bpName}\:r\:#{$name} {
      @media (min-width: #{$bpValue}) {
        right: $value;
      }
    }
    .#{$bpName}\:b\:#{$name} {
      @media (min-width: #{$bpValue}) {
        bottom: $value;
      }
    }
    .#{$bpName}\:l\:#{$name} {
      @media (min-width: #{$bpValue}) {
        left: $value;
      }
    }
    .#{$bpName}\:x\:#{$name} {
      @media (min-width: #{$bpValue}) {
        right: $value;
        left: $value;
      }
    }
    .#{$bpName}\:y\:#{$name} {
      @media (min-width: #{$bpValue}) {
        top: $value;
        bottom: $value;
      }
    }
  }
}
