@import "variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline-color: transparent;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
p,
pre {
  margin: 0;
}

*,
:after,
:before {
  border-width: 0;
  border-style: solid;
  border-color: map-get($colors, "grey-light");
}

a {
  text-decoration: none;
}
