@import "variables";

// Responsive grid
[class^="responsive\:"],
[class*="responsive\:"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  > div {
    position: relative;
  }
}

// Build media queries for differents columns grid (4, 6, 8, 10, 12) by reference to 1920px width screen
// customize by defining $responsive-columns variable before beta-scss import
@each $columns in $responsive-columns {
  $factor: 1920px / $columns;
  @for $i from $columns through 1 {
    @media (min-width: #{$i * $factor}) and (max-width: #{(($i + 1) * $factor) - 1}) {
      .responsive\:#{$columns} {
        & > div {
          flex-basis: #{100% / $i};
        }
      }
    }
  }
}

// Generate gutters for responsive columns
@each $name, $value in $paddings {
  div[class^="responsive"] {
    &.column-gap\:#{$name} {        
      margin-left: calc(#{$value} * -1);
      margin-right: calc(#{$value} * -1);
      & > div {
        margin-left: $value;
        margin-right: $value;
      }
    }

    &.row-gap\:#{$name} {
      margin-top: calc(#{$value} * -1);
      margin-bottom: calc(#{$value} * -1);
      & > div {
        margin-top: $value;
        margin-bottom: $value;
      }
    }
  }
}
