@import "variables";

// ie : max-w:10/12
@each $name, $value in $widths {
  .w\:#{$name} {
    width: $value;
  }
  .min-w\:#{$name} {
    min-width: $value;
  }
  .max-w\:#{$name} {
    max-width: $value;
  }
}

// ie : max-w:sm
@each $name, $value in $breakpoints {
  .w\:#{$name} {
    width: $value;
  }
  .min-w\:#{$name} {
    min-width: $value;
  }
  .max-w\:#{$name} {
    max-width: $value;
  }
}

// ie : sm:max-w:1/4
// @each $bpName, $bpValue in $breakpoints {
//   @each $name, $value in $widths {
//     @media (min-width: #{$bpValue}) {
//       .#{$bpName}\:w\:#{$name} {
//         width: $value;
//       }
//     }
//   }
// }
