@import "variables";

// ie : min-w:0
@each $name, $value in $widths {
  .w\:#{$name} {
    width: $value;
  }
  .min-w\:#{$name} {
    min-width: $value;
  }
  .max-w\:#{$name} {
    max-width: $value;
  }
}

// ie : max-w:sm
@each $name, $value in $breakpoints {
  .w\:#{$name} {
    width: $value;
  }
  .min-w\:#{$name} {
    min-width: $value;
  }
  .max-w\:#{$name} {
    max-width: $value;
  }
}

// ie: w:2/12
@each $name, $value in $twelve-columns {
  .w\:#{$name} {
    width: $value;
  }
  .min-w\:#{$name} {
    min-width: $value;
  }
  .max-w\:#{$name} {
    max-width: $value;
  }
}
